main{
    display: inline-block;
    width: 100%;
}

.largeTitle{
    font-family: Roboto;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}

.largeHeading{
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}

.mediumHeading{
    font-family: Roboto;
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 2rem;
}

.bodyTextLarge{
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
}

.menuIcons{
    max-width: 3rem;
    max-height: 3rem;
}
